<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>WebPCR</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">WebPCR
              powered by <a class="navbar-brand" href="https://github.com/BjornFJohansson/pydna">pydna {{version}}</a>


            </div>
          </div>
        </nav>
              <div>
			  <span style="font-size:20px">Use the PCR simulator if you already have a pair of primer sequences and a template sequence.</span>
              </div>
              <a href="{{url_for('pcr')}}" class="btn btn-primary btn-lg btn-block">PCR simulator</a>
              <div>
			  <span style="font-size:20px">Use the primer Tm calculator to calculate Tm of single or multiple primers.</span>
              </div>
              <a href="{{url_for('tm')}}" class="btn btn-primary btn-lg btn-block">Primer Tm calculator</a>
              <div>
			  <span style="font-size:20px">Use the PRimer designer for n primer for a sequence.</span>
              </div>
              <a href="{{url_for('primerdesign')}}" class="btn btn-primary btn-lg btn-block">Primer designer</a>

              <a href="https://www.pythonanywhere.com" class="btn btn-link">Pythonanywhere</a>
              <a href="https://github.com/BjornFJohansson/webpcr" class="btn btn-link">WebPCR on GitHub</a>
              <a href="https://github.com/BjornFJohansson/pydna" class="btn btn-link">pydna on GitHub</a>
    </body>
</html>
