<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <title>WebPCR</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href=".">WebPCR</a>
            </div>
          </div>
        </nav>

        <div class="container">

            {% for result in results %}
                <pre>{{result}}</pre>
            {% endfor %}

            <div class="row">
                <form action="{{ url_for('pcr') }}" method="POST">
                    <textarea class="form-control" name="contents" rows="10" cols="120">
>ForwardPrimer
gctactacacacgtactgactg

>ReversePrimer
tgtggttactgactctatcttg

>MyTemplate
gctactacacacgtactgactgcctccaagatagagtcagtaaccaca
                    </textarea>
                    <a href="{{url_for('index')}}" class="btn btn-primary">home</a>
                    <input type="submit" name="clear" class="btn btn-danger" value="Clear">
                    <input type="submit" name="run"   class="btn btn-success" value="PCR simulation">
                    powered by <a href="https://github.com/BjornFJohansson/pydna">pydna {{version}}</a>
                </form>
            </div>

        </div>

    </body>
</html>
